body{
	font-family:Tahoma,Geneva,San-serif;
	color:#fff;
	background-image:  url("../image/background.jpg");
	background-size:cover;
}
.signup{
	background:rgb(50,62,80,0.3) ;
	padding:40px ;
	width: 250px;
	height:400px ;
	margin-top:80px ;
	margin-left:180px ;
	margin:80px 110px ;
}
form{
	width:240px;
	text-align: center;

}
input{
	width:240px;
	text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family:'Play' San-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}
input[type=button]{
	border:none;
	width:190px;
	background: white;
	color:#000;
	font-size:16px;
	line-height: 25px;
	padding:10px 0;
	border-radius:15px;
	cursor: pointer;
}
input[type=button]:hover{
   color:#fff;
   background-color: black;
}
h2{
	color:#000;
}

